<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Honolily">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/honolily">Honolily</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">原力引火</span> - 随便说说、讨论电影、分享书籍，交流思想的小空间.</p>
        <a class="email" href="https://github.com/honolily">github.com/honolily</a>
    </div>
</section>
