<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/img/blog-author.jpg" alt="Honolily">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="http://github.com/honolily">Honolily</a>
        </h3>
        <p class="desc"><span itemprop="jobTitle">{{ site.title }}</span> - {{ site.description }}</p>
        <h4><a class="email" href="mailto:{{ site.email }}">mail to me</a><h4>
        <h4>
            <a class="email" href="https://twitter.com/{{ site.twitter_username }}">follow on Twitter</a>
        <h4>
    </div>
</section>
