<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>


            <div class="PageNavigation">
            {% if page.categories %}
              {% assign category = page.categories[0] %}
              {% assign posts = site.categories[category] %}
              {% for post in posts %}
                {% if post.url == page.url %}
                  {% assign post_index0 = forloop.index0 %}
                  {% assign post_index1 = forloop.index %}
                {% endif %}
              {% endfor %}
              {% for post in posts %}
                {% if post_index0 == forloop.index %}
                  {% assign next_post = post %}
                {% endif %}
                {% if post_index1 == forloop.index0 %}
                  {% assign prev_post = post %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if prev_post %}
                <a class="prev" rel="prev" href="{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
            {% endif %}
            {% if next_post %}
                <a class="next" rel="next" href="{{ next_post.url }}">&raquo; {{ next_post.title }}</a>
            {% endif %}
            </div>

            {% include comments.html %}
            {% include share.html %}
            {% include author.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
